<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Jade</title>
  <%= stylesheet_link_tag "reset.css" %>
  <%= stylesheet_link_tag "main.css" %>
</head>
<body>

  <h1><span class="green">Jade</span>payments for the rest of us</h1>
  <form action='http://jademerchant.us2.list-manage.com/subscribe/post?u=e341f5d600f732a2b41a3a9b2&amp;id=da978fb54b' id='in-quote-form' method='post' name='mc-embedded-subscribe-form' target='_blank'>
    <fieldset>
      <input id='emailaddress' name='EMAIL' type='text' placeholder="What's your email?" />
      <button name='subscribe' type='submit' value="Go">Learn More</button>
    </fieldset>
  </form>
</body>
</html>
